/* ====== إعدادات عامة ====== */
body {
  background-color: rgb(157, 227, 255);
  color: #fff;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
}

/* ====== الفورم الرئيسي ====== */
.LoanForm {
  width: 450px;
  background: #ffffff;
  color: #333;
  padding: 30px 25px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 18px; /* مسافة بين العناصر */
  text-align: center;
  justify-content: center;
}

/* ====== العنوان ====== */
.LoanForm h3 {
  color: #0077b6;
  margin-bottom: 5px;
  font-weight: 600;
}

/* ====== كل صف (label + input) ====== */
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  text-align: center;
}

/* ====== الليبل ====== */
.LoanForm label {
  font-size: 15px;
  font-weight: 500;
  color: #005a8c;
}

/* ====== حقول الإدخال ====== */
.LoanForm input {
  width: 66%;
  padding: 10px;
  border: 1px solid #cfd9e0;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.LoanForm input:focus {
  border-color: #0077b6;
  box-shadow: 0 0 4px rgba(0,119,182,0.4);
}

/* ====== زر الإرسال ====== */
.LoanForm .submit {
  background: #0077b6;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: 0.25s;
}

.LoanForm .submit:hover {
  background: #005f8c;
  transform: translateY(-2px);
}

.checkbox{
  width: 10px;
}
.checkbox:focus{
  border: none;
  box-shadow: none;
}

/* sucss */
#modal{
  position: fixed;          /* يغطي الشاشة */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.795); /* أفضل للشفافية */
  z-index: 9999;

  display: flex;            /* لعمل سنتر */
  justify-content: center;  /* أفقي */
  align-items: center;  
}
.sucss{
  background-color: #fff;
  padding: 50px;
  text-align: center;
  margin-bottom: 100px;
  color: green;
}